<!DOCTYPE HTML>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <title>conut.com | {% block title %} Shorten that url{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css" rel="stylesheet">
    {% block styles %}
    <style>
    body {
      background-color: #226268;
      background-image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg";

    }

    .btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }

    </style>
    {% endblock styles %}
</head>

<body>

             {% block content %}

            {% endblock content %}
        



</body>
</html>